.inactive-arrow {
  pointer-events: none;
  opacity: 0.5;
}

.inactive-arrow svg {
  @apply text-darkBeige;
}

.tag-page .tag-wrapper .inactive-taxonomy-item p,
.category-page .category-wrapper .inactive-taxonomy-item p,
.resource-single-template p {
  color: #888;
}

.resource-single-template strong {
  color: #555;
}

.tag-page .tag-wrapper .active-taxonomy-item p,
.category-page .category-wrapper .active-taxonomy-item p {
  color: black;
}

#category-uncategorized,
#category-featured {
  display: none;
}

.hide-border {
  border: none;
}

.topbar-transparent {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 21.35%,
    rgba(0, 0, 0, 0) 100%
  );
}

.download-resource-form {
  flex-direction: row;
  margin: 0;
}

.arrow-submit {
  stroke-width: 1.5;
  stroke: white;
}
.sidebar-module .arrow-submit {
  stroke: #888888;
}

.gallery-images img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.module-spacing-bottom-none + .module-spacing-top-none {
  padding-top: 20px;
}

.wp-block-video video {
  margin: 40px auto 0 auto;
  max-width: 1030px;
}

.submit-button-as-arrow {
  position: relative;
}

.wp-block-quote p {
  margin-bottom: 20px;
}

.secondary-nav:hover a,
.secondary-nav:hover div {
  color: black;
}

.search-white,
.hamburguer-white {
  stroke: white;
}

.search-wrapper-icon:hover .search-white,
.search-black,
.hamburguer-wrapper:hover .hamburguer-white {
  stroke: black;
}

.event-single-page .modal {
  top: 60px;
}

.landing-hero-text {
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
}

.hide-label label {
  display: none;
}

.hide-the-input-field > input {
  display: none;
}

.wysiwyg h2, .wysiwyg h3, .wysiwyg h4, .wysiwyg h5 {
  margin-bottom: 32px !important;
}

.wysiwyg iframe {
  max-width: 100%;
}

table {
  @apply rounded-xl border-grey max-w-full !border-separate	!border-spacing-0;
}

table td {
  @apply border-t border-l border-darkGrey border-opacity-25 md:py-[10px] md:px-[15px] p-5 text-[14px] leading-[140%] text-darkGrey;
}

table td:last-of-type {
  @apply border-r;
}

table td img {
  @apply !m-0;
}

table th {
  @apply md:py-[10px] md:px-[15px] p-5 md:text-[12px] text-[14px] font-extrabold tracking-[0.72px];
}

table tr:first-child th {
  @apply border-t border-l  border-darkGrey border-opacity-25;
}

table tr:first-child th:last-of-type {
  @apply border-r;
}

table tr.even {
  @apply bg-grey;
}

table tr.odd {
  @apply bg-white;
}

table tr:first-of-type {
  @apply bg-lightBlue font-extrabold text-navy uppercase;
}

table tr:last-child td {
  @apply border-b;
}

table tr:last-child td:last-child {
  @apply rounded-br-xl;
}

table tr:last-child td:first-child {
  @apply rounded-bl-xl;
}

table tr:first-child th:first-child,
table tr:first-child td:first-child {
  @apply rounded-tl-xl;
}

table tr:first-child th:last-child,
table tr:first-child td:last-child {
  @apply rounded-tr-xl;
}

table td a {
  @apply text-navy hover:text-darkBeige transition-colors;
}

.wysiwyg p a,
.wysiwyg li a  {
  @apply text-navy underline underline-offset-2 hover:text-darkBeige transition-colors;
}

.wysiwyg p {
  @apply mb-8 md:mb-6;
}

.wysiwyg p + p,
.wysiwyg p:has(+ p) {
  @apply mb-6 md:mb-4;
}

.wysiwyg p:not(:has(+ p)) {
  @apply mb-8 md:mb-6;
}

.wysiwyg ul,
.wysiwyg ol {
  @apply mb-8 md:mb-6 !ml-6;
}

.wysiwyg ul li,
.wysiwyg ol li  {
  @apply list-outside;
}

.wysiwyg ol {
  @apply list-decimal;
}

.wysiwyg ol,
.wysiwyg ol li,
.wysiwyg ol li::marker {
  @apply me-4 ms-[-0.5px];
}

.wysiwyg ol {
  @apply text-darkGrey;
}

.wysiwyg li {
  @apply mb-2;
}

.wysiwyg ul:last-child,
.wysiwyg ol:last-child,
.wysiwyg p:last-child {
  @apply !mb-0;
}

.wysiwyg p:has(+ ul),
.wysiwyg p:has(+ ol) {
  @apply mb-4;
}

.wysiwyg img.alignright {
  float:right;
  margin:0 0 1em 1em;
}
.wysiwyg img.alignleft {
  float:left;
  margin:0 1em 1em 0;
}

.wysiwyg img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wysiwyg a img.alignright {
  float:right;
  margin:0 0 1em 1em;
}

.wysiwyg a img.alignleft {
  float:left;
  margin:0 1em 1em 0;
}

.wysiwyg a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul > li > ul {
   @apply ml-4;
}

ul li ul li {
  @apply list-[circle];
}

.accordion-content a {
  @apply hover:text-navy;
}

.yt-lite {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: 50%;
  background-size: cover;
  cursor: pointer;
}
.yt-lite:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  background-position: top;
  background-repeat: repeat-x;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:after {
  content: "";
  display: block;
  padding-bottom: var(--aspect-ratio);
}
.yt-lite > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.yt-lite > .lty-playbtn {
  width: 80px;
  height: 80px;
  background-color: #fff;
  z-index: 1;
  opacity: 0.8;
  border-radius: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
  background-color: #14435B;
  opacity: 1;
}
.yt-lite > .lty-playbtn:before {
  content: "";
  border-color: transparent transparent transparent #14435B;
  border-style: solid;
  border-width: 11px 0 11px 19px;
}
.yt-lite:hover > .lty-playbtn:before {
  border-color: transparent transparent transparent #fff;
}
.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.yt-lite.lyt-activated {
  cursor: unset;
}
.yt-lite.lyt-activated:before,
.yt-lite.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}
.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.address-h4 *{
  @apply text-[28px] sm:text-[26px] font-bold leading-[110%] sm:leading-[115%] tracking-[-0.28px] text-navy font-condensed antialiased;
}

.address-body * {
  @apply text-[18px] sm:text-[16px] leading-[160%] sm:leading-[150%] text-navy font-sans font-bold;
}

.module-spacing-bottom-none {
  @apply pb-0;
    }
.module-spacing-bottom-medium {
  @apply pb-[80px] md:pb-[60px] sm:pb-[40px];
}
.module-spacing-bottom-large {
  @apply pb-[100px] md:pb-[60px] sm:pb-[40px];
}
.module-spacing-top-none {
  @apply pt-0;
}
.module-spacing-top-medium {
  @apply pt-[80px] md:pt-[60px] sm:pt-[40px];
}
.module-spacing-top-large {
  @apply pt-[100px] md:pt-[60px] sm:pt-[40px];
}

.landing-hero-headline, .landing-hero-text p {
  text-shadow: 0px 0px 60px rgba(0, 0, 0, 1);
}
.img-landing-hero{
  background: radial-gradient(at right center, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
}
.media-embed-module .yt-lite {
	border-radius: 12px;
}
.index-page-wrapper .pagination{
  @apply col-span-12;
}

.aa-Panel {
z-index: 1000;
}

.aa-Autocomplete {
  @apply bg-white py-9 sm:pl-0 px-24 md:py-4 md:px-8;
}

.aa-Autocomplete > button {
  @apply w-full border-none text-[16px] font-bold;
}

.aa-Form {
  @apply mx-auto border-none max-w-none;
}

.aa-Form:focus-within {
  @apply shadow-none outline-lightBlue border-lightBlue;
}

.aa-DetachedSearchButton {
  @apply bg-white w-9/12 mx-auto;
}

.aa-Label {
  @apply mb-0;
}

.ais-Hits-list {
  @apply flex flex-col gap-4 py-4;
}

.ais-Pagination-list {
  @apply list-none flex gap-4 py-4;
}

.ais-Pagination-list li {
  @apply list-none;
}

.aa-SubmitIcon, .ais-SearchBox-submitIcon {
  @apply !text-gold;
}

.aa-Input {
  @apply text-2xl placeholder:text-darkBeige font-bold text-navy md:text-lg;
}

.aa-Input:focus {
  @apply outline-none border-none border-transparent !shadow-none !shadow-transparent;
  box-shadow: none !important;
}

.aa-Panel {
  @apply !w-full !left-0 mt-0 rounded-none pt-8 px-24 pb-14;
  background-image: url(/angles/angled-bg_finder_grey-flip.jpg);
  background-size: cover;
}

.aa-List {
  @apply flex flex-col;
}

.aa-Item {
  @apply bg-white rounded-md py-8 px-16 mt-[20px] md:py-4 md:px-8;
}

.aa-Item[aria-selected=true] {
  background-color: rgba(var(--aa-selected-color-rgb),.205);
  @apply bg-navy bg-opacity-10;
}

.aa-ItemTitle mark {
  @apply text-gold;
}

.ais-SearchBox-form {
  @apply flex;
}

.ais-SearchBox-input {
  @apply flex-1 rounded-[5px] border-2 border-[#51525533] px-[20px] py-[14px] text-navy placeholder:text-darkBeige focus-within:ring-transparent focus:border-lightBlue focus:ring-transparent focus-visible:outline-transparent active:outline-transparent active:placeholder:text-navy;
}

.ais-SearchBox-submit, .ais-SearchBox-reset {
  @apply hidden;
 }

 .aa-ItemContentSubtitleCategory {
  @apply text-navy;
 }

.state-code-outline {
  text-decoration: underline;
}